<div ng-controller="noticeModifyController">
    <form>
        <div class="form-group form-inline">
            <label>제목</label>&nbsp:&nbsp
            <input type="text" class="form-control" ng-model="notice.title">
        </div>
        <div class="form-group">
            <summernote config="options" ng-model="notice.content"></summernote>
        </div>
    </form>

    <div class="btn-group float-right">
        <button class="btn btn-primary" ng-click="modify()">Modify</button>
    </div>
</div>