<div id="notice-area" ng-controller="noticeListController" ng-init="init()">

    <button class="btn btn-primary pull-right" ng-click="clickBtn()">{{btnName}}</button>

    <form class="form-inline" ng-submit="noticeSearch(0)">
        <div class="form-group">
            <select class="form-control" ng-model="selectedType"
                    ng-options="type.name for type in types"></select>
            <input class="form-control" type="text" ng-model="keyword">
        </div>
    </form>

    <table class="table table-striped">
        <thead>
        <tr>
            <td>제목</td>
            <td>글쓴이</td>
            <td>작성일</td>
            <td>비고</td>
        </tr>
        </thead>
        <tbody>
            <tr ng-repeat="notice in notices">
                <td ng-click="detail($index)">{{notice.title}}</td>
                <td>{{notice.member.email}}</td>
                <td>{{notice.createDateTime | date : 'yyyy-MM-dd' : timezone}}</td>
                <td>
                    <button class="btn btn-warning btn-sm" ng-click="delete($index)">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>

    <ul uib-pagination
        total-items="bigTotalItems"
        ng-model="bigCurrentPage"
        max-size="maxSize"
        class="pagination-sm"
        boundary-link-numbers="true">
    </ul>
</div>