<div ng-controller="searchPasswordFormController">
    <div class="modal-header">
        <h3 class="modal-title">Search Password Form</h3>
    </div>
    <div class="modal-body">
        <form class="form" ng-submit="searchPassword()">
            <div class="form-group">
                <input class="form-control" type="email" ng-model="input.email" placeholder="email을 입력하세요.">
            </div>
            <div class="form-group">
                <button type="submit" class="form-control btn btn-block">Search Password</button>
                <button type="button" class="form-control btn btn-block" ng-click="closeModal()">Close</button>
            </div>
        </form>
    </div>
</div>